<apex:component >  
    <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>
    <script type="text/javascript">
        function launchSaveToOneDrive(){
        var odOptions = {
            clientId: "ed32d145-85eb-4570-b1a8-1c0e59e9a893",
            action: "save",
            sourceInputElementId: "fileUploadControl",
            sourceUri: "",
            openInNewWindow: true,
            advanced: {},
            success: function(files) { console.log(files) },
            progress: function(percent) { console.log(percent) },
            cancel: function() { /* cancel handler */ },
            error: function(error) { console.log(error) }
        }
        OneDrive.save(odOptions);
    }
    </script>
    
    <input id="fileUploadControl" name="fileUploadControl" type="file" />
    <button onclick="launchSaveToOneDrive()">Save to OneDrive</button>
</apex:component>